POSTGRES_DB=mdd
POSTGRES_USER=mdd
POSTGRES_PASSWORD=mdd_password
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/mdd
DB_USERNAME=mdd
DB_PASSWORD=mdd_password

JWT_SECRET=VGhpc0lzQURldmVsb3BtZW50S2V5VGhhdE11c3RCZUF0TGVhc3QzMkJ5dGVzTG9uZw==
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=2592000000
JWT_REFRESH_COOKIE_NAME=mdd_refresh_token
JWT_REFRESH_COOKIE_SECURE=false
JWT_REFRESH_COOKIE_SAME_SITE=Lax
